# Copia este archivo como ".env" y llena tus valores reales.
# El archivo ".env" NUNCA se sube a git (ya está en .gitignore).

SECRET_KEY=pon-aqui-una-clave-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=helpdesk_db
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432

DJANGO_SETTINGS_MODULE=config.settings.dev
